.page {
    &__bg-1 {
        background-image: url(images/about-us.jpeg);
    }
    
    &__bg-2 {
        background-image: url(images/bg_1.jpeg);
    }
    
    &__bg-3 {
        background-image: url(images/bg_3.jpeg);
    }
    
    &__bg-4 {
        background-image: url(images/bg_2.jpg);
    }
     
}
