.page__navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: contrast-color($black);
    background: $black;
    min-width: 60%;
    min-height: 50px;
    padding: 0 10px;
    border-radius: 50px;
    z-index: 1;

    &__nav {
        display: flex;
        align-items: center;
        list-style: none;

        .nav-item {
            margin: 0 5px;
        }

        .nav-link {
            color: contrast-color($black);
            text-decoration: auto;
        }
    }

    &__logo {
        display: flex;
        @include position-center();
    }

    @include media-breakpoint-down($sm) {
        position: fixed;
        width: 100%;
        top: 0;
        border-radius: unset;

        .nav-link {
            display: none;
        }
    }
}